.contenaire {
  width: 1700px;
  height: 1080px;

  background: #302B2B;
}

header {
  position: absolute;
  width: 1700px;
  height: 100px;
  left: 0px;
  top: 0px;

  background: #121010;
}

img.Logo {
  position: absolute;
  left: 150px;
  top: 20px;
}

p {
  position: absolute;
  left: 230px;
  top: 20px;
  color: white;
}

.text4 {
  position: absolute;
  left: 1200px;
  color: white;
  top: 20px;
}

.text3 {
  position: absolute;
  left: 1300px;
  color: white;
  top: 20px
}

.texto1 {
  position: absolute;
  width: 640px;
  height: 84px;
  left: 134px;
  top: 276px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;

  color: #FFFBFB;

}

.texto2 {
  position: absolute;
  width: 797px;
  height: 95px;
  left: 134px;
  top: 721px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFBFB;

}

img.Logo3 {
  position: absolute;
  width: 217px;
  height: 293px;
  left: 1023px;
  top: 251px;

  background: url(Cover03.jpg);
}

img.Logo2 {
  position: absolute;
  width: 217px;
  height: 293px;
  left: 1023px;
  top: 544.84px;

  background: url(Cover02.jpg);
}

img.Logo1 {
  position: absolute;
  width: 217px;
  height: 293px;
  left: 1240px;
  top: 545px;


  background: url(Cover01.jpg);
}

img.Logo4 {
  position: absolute;
  width: 217px;
  height: 293px;
  left: 1240px;
  top: 251px;

  background: url(Cover04.jpg);
}

img.Logo5 {
  position: absolute;
  width: 155px;
  height: 218px;
  left: 221px;
  top: 432px;

  background: #121111;
}

h6 {
  position: absolute;
  width: 94px;
  height: 31px;
  left: 262px;
  top: 564px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFBFB;

}

img.Logo6 {
  position: absolute;
  width: 155px;
  height: 218px;
  left: 434px;
  top: 432px;

  background: #0E0E0E;
}

h4 {
  position: absolute;
  width: 92px;
  height: 31px;
  left: 475px;
  top: 584px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFAFA;

}

img.Logo7 {
  position: absolute;
  width: 155px;
  height: 218px;
  left: 670px;
  top: 437px;

  background: #100F0F;
}

h5 {
  position: absolute;
  width: 91px;
  height: 33px;
  left: 714px;
  top: 584px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFF9F9;

}

footer {
  position: absolute;
  width: 1700px;
  height: 77px;
  left: 0px;
  top: 1003px;

  background: #141313;
}

img.Logo8 {
  position: absolute;
  width: 35px;
  height: 28px;
  left: 999px;
  top: 25px
}

img.Logo9 {
  position: absolute;
  width: 35px;
  height: 28px;
  left: 1299px;
  top: 25px
}

.twi {
  position: absolute;
  width: 67px;
  height: 37px;
  left: 1060px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFF3F3;

}

.fb {
  position: absolute;
  width: 67px;
  height: 37px;
  left: 1369px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFF3F3;

}

.index {
  position: absolute;
  width: 84px;
  height: 28px;
  left: 325px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFAFA;

}

span {
  position: absolute;
  width: 96px;
  height: 16px;
  left: 109px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFCFC;

}

/*iframe[seamless] {
  border: 0;
  width: 100%;
}

body {
  background-color: #2F3038;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  overflow: hidden;
}

/* HEADER */
/*header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-left: 40px;
}

.nav {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-right: 40px;
}

.header-title {
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
}

.nav a {
  margin-left: 20px;
}

/* FIN HEADER */

.main-container {
  background-color: red;
}

/*body {
  color: whitesmoke;
  width: 100%;
  height: 100%;
  background-color: rgb(47, 48, 56);
  font-family: Poppins,
    sans-serif;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/*
#Gril {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  margin-left: 7.5%;
  z-index: 1;
}




/*#LANDING_PAGE {
display: flex;
align-items: center;
}

#Logo {
  width: 40px;
  height: 40px;
  margin-right: 10%;
}

#Discover {
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.Twitter {
  margin-right: 8px;
  margin-left: 10%;
}

.Facebook {
  margin-right: 8px;
  margin-left: 10%;

}*/
/*
header {
  display: flex;
  align-items: center;
  width: 85%;
  height: 7vh;
  margin: 0 auto;
  position: absolute;
  top: 5vh;
  justify-content: space-between;
}

.Discover {
  margin-left: 50%;
  margin-top: 19vh;
  font-size: 20px;
  line-height: 50px;
  position: relative;
  top: -3vh;
  margin-left: 10%;
}


.Comments {
  margin-left: 50%;
  margin-top: 19vh;
  font-size: 20px;
  line-height: 50px;
  position: relative;
  top: -3vh;
}

h1 {
  background-color: cornsilk;
  font-style: italic;
  color: antiquewhite;
  font-family: 'Poppins', sans-serif;
}


/* Circle */
/*.Circle {
  z-index: -999;
  border-radius: 100%;
  position: absolute;
  opacity: 15%;
}





#C1 {
  position: absolute;
  top: 20%;
  left: 40%;
  background-color: pink;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
  width: 450px;
  height: 450px;
  top: 40%;
  left: 1%;
}

#C2 {
  position: absolute;
  top: 0%;
  left: 30%;
  background-color: pink;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
  width: 80px;
  height: 80px;
  top: 60%;
  left: 40%;
}

#C3 {
  position: absolute;
  top: 45%;
  left: 55%;
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
  width: 245px;
  height: 245px;
  top: 2%;
  left: 43%;
}

#C4 {
  position: absolute;
  top: 23%;
  left: 25%;
  background-color: blue;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
  width: 120px;
  height: 120px;
  top: -2%;
  left: 70%;
}

#C5 {
  position: absolute;
  top: 26%;
  left: 57%;
  background-color: red;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
  width: 650px;
  height: 650px;
  top: 50%;
  left: 70%;
}


/*h2 {
background-color: darkblue;
font: 1em sans-serif;
font-weight: 600;
font-size: 48px;
line-height: 108px;
color: aquamarine;

}

h3 {
  background-color: darkkhaki;
  position: relative;
  top: -3vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: antiquewhite;
}


/* Liens */
/*a {
text-decoration: none;
color: #2ec4b6;
text-transform: uppercase;
font-style: italic;
}

a:hover {
  font-size: 14px;
  -weight: bold;

}

button {
  background-color: chartreuse;

}