/*body {
  background-color: transparent;
  font-family: Poppins,
    sans-serif;
  background-color: #2F3038;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 14px;
}*/

.contenaire {
  width: 1700px;
  height: 1080px;
  background: #2F3038;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;


}

/*<!-- <HERADER> -->*/
header {
  position: absolute;
  justify-content: space-between;
  width: 1700px;
  height: 100px;
  left: 0px;
  top: 0px;
}

.logo {
  position: absolute;
  left: 150px;
  top: 20px;


  /* display: flex;
  align-items: center;
  margin: 10px;
  margin-left: 40px;*/
}

/*<!-- <TITRE+NAV> -->*/

.nav {
  position: absolute;
  left: 1200px;
  color: white;
  top: 20px;
  align-items: center;
  position: absolute;
  left: 1300px;
  color: white;
  top: 20px
    /* display: flex;
  align-items: center;
  margin: 10px;
  margin-right: 40px;
  padding: 50px;
  margin: 10px;
  width: 50%;*/

}

.header-title {
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  top: 20px;
  position: absolute;
  left: 230px;
  top: 20px;
  color: white;

}

.nav a {
  margin-left: 20px;
  position: absolute;
  left: 1200px;
  color: white;
  top: 20px;
}

/* FIN HEADER */

/*<!-- <CORPS> -->*/
h1 {
  position: absolute;
  width: 640px;
  height: 84px;
  left: 134px;
  top: 276px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;

  color: #FFFBFB;
}

h2 {
  position: absolute;
  width: 797px;
  height: 95px;
  left: 134px;
  top: 721px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFBFB;

}



/*<!-- <ALBUMS> -->*/

.Album3 {
  position: absolute;
  width: 217px;
  height: 293px;
  left: 1023px;
  top: 251px;
  background: url(Cover03.jpg);
}

.Album2 {
  position: absolute;
  width: 217px;
  height: 293px;
  left: 1023px;
  top: 544.84px;

  background: url(Cover02.jpg);
}

.Album1 {
  position: absolute;
  width: 217px;
  height: 293px;
  left: 1240px;
  top: 545px;


  background: url(Cover01.jpg);
}

.Album4 {
  position: absolute;
  width: 217px;
  height: 293px;
  left: 1240px;
  top: 251px;

  background: url(Cover04.jpg);
}

/*<!-- <ICONS> -->*/

.CHARTS {
  position: absolute;
  width: 155px;
  height: 218px;
  left: 221px;
  top: 432px;
  background: #121111;
  border: chartreuse 2px solid;
  border-radius: 20px;
}

h4 {
  position: absolute;
  width: 94px;
  height: 31px;
  left: 19px;
  top: 219px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFAFA;

}

.ALBUMS {
  position: absolute;
  width: 155px;
  height: 218px;
  left: 434px;
  top: 432px;
  background: #0E0E0E;
  border: chartreuse 2px solid;
  border-radius: 20px;
}

h5 {
  position: absolute;
  width: 92px;
  height: 31px;
  left: 31px;
  top: 209px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFAFA;
}

.MORE {
  position: absolute;
  width: 155px;
  height: 218px;
  left: 670px;
  top: 437px;
  background: #100F0F;
  border: chartreuse 2px solid;
  border-radius: 20px;
}

h6 {
  position: absolute;
  width: 91px;
  height: 33px;
  /* left: 642px; */
  top: 204px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFF9F9;
}







/*<!-- <FOOTER> -->*

footer {
  display: flex;
  /*flex-direction: column;*/

footer {

  position: absolute;
  width: 1700px;
  height: 77px;
  left: 0px;
  top: 1003px;
  border: chartreuse 2px solid;
  border-radius: 20px;

  background: #141313;
}



.perso_info {


  position: absolute;
  width: 96px;
  height: 16px;
  left: 109px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFCFC;
  border: chartreuse 2px solid;
  border-radius: 20px;
}

/*.perso_info a {
  display: flex;
  justify-content: left;
  font-weight: bold;
  margin-right: 40px;
  padding-left: 20px;
  font-size: 14px;
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
  font-style: italic;

}*/

TWI {

  position: absolute;
  width: 67px;
  height: 37px;
  left: 1060px;
  top: 25px;

}

FB {

  position: absolute;
  width: 35px;
  height: 28px;
  left: 999px;
  top: 25px;

}

.footer-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-left: 20px;
  position: absolute;
  width: 79px;
  height: 16px;
  left: 537px;
  top: 25px;

  color: #FFFCFC;

}

.footer-title1 {
  position: absolute;
  width: 67px;
  height: 37px;
  left: 1369px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFF3F3;
}

/*<!-- <Reseaux Social> -->*/

.RESEAU {

  /*display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 14px;
  /* border: chartreuse 5px solid;
  border-radius: 20px;
  padding: 50px;
  position: absolute;
  width: 67px;
  height: 37px;
  left: 1060px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFF3F3;

}

.RESEAU a {
  margin-left: 20px;
  /* font-size: 14px;
  -weight: bold;
  text-decoration: none;
  color: #2ec4b6;
  text-transform: uppercase;
  font-style: italic;

  padding: 20px;
  margin: 10px;
  width: 50%;
}

.a:hover {
  font-size: 14px;

  text-decoration: none;
  color: #2ec4b6;
  font-style: italic;
}*/






  /*.TW {
  position: absolute;
  width: 67px;
  height: 37px;
  left: 1060px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFF3F3;

}

.FB {
  position: absolute;
  width: 67px;
  height: 37px;
  left: 1369px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFF3F3;

}


#Abouts {
  position: absolute;
  width: 96px;
  height: 16px;
  left: 109px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFCFC;
}

#Contact {
  position: absolute;
  width: 84px;
  height: 28px;
  left: 325px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFAFA;

}


.FB {
  /* display: inline-block;
  align-items: center;
  margin: 10px;
  margin-left: 1250 px;
  font-size: 20px;
  line-height: 50px;
  top: -3vh;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  width: 67px;
  height: 37px;
  left: 1369px;
  top: 25px;}*/


  /* Circle */
  /*. circle {
  z-index: -999;
  /* S'assurer que les bulles seront tjs en dessous des autres éléments */
  /*border-radius: 100%;
position: absolute;
opacity: 15%;
}

.blue {
  background-color: blue;

}

.pink {
  background-color: pink;
}

#C1 {
  position: absolute;
  top: 20%;
  left: 40%;
  background-color: pink;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}

#C2 {
  position: absolute;
  top: 0%;
  left: 30%;
  background-color: pink;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}

#C3 {
  position: absolute;
  top: 45%;
  left: 55%;
  background-color: papayawhip;
  width: 520px;
  height: 520px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}

#C4 {
  position: absolute;
  top: 23%;
  left: 25%;
  background-color: burlywood;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}

#C5 {
  position: absolute;
  top: 26%;
  left: 57%;
  background-color: greenyellow;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}






  /*main {
  padding: 0 7.5%;
}

#m-comments__hookTitle {
  font-weight: bold;
  font-size: 48px;
  position: relative;
  top: 25vh;
  width: 50%;
}

#o-comments__hookTitle--color {
  font-size: 64px;
  color: #276A8D;
}

/* Form */
  /*#my-form {
  width: 42.5%;
  margin-left: 50%;
  background: #B38244;
  border-radius: 15px;
  border: 1px #EAE3E1 solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  z-index: 1;
}

.a-form__form--item {
  width: 85%;
}

input {
  min-height: 5vh;
}

input,
textarea {
  background: rgba(193, 173, 167, 0.7);
  border-radius: 5px;
  border: 1px solid #EAE3E1;
  color: #EAE3E1;
  padding-left: 3%;
  padding-top: 0.5vh;
}

input::placeholder,
textarea::placeholder {
  color: #EAE3E1;
}

.a-form__form--item:first-child {
  margin-top: 5vh;
}

.a-form__form--item:active,
.a-form__form--item:focus {
  outline: none;
}

/* Comments */
  /*.auteur,
.comment,
.delete {
  position: relative;
  top: 88vh;
  color: #EAE3E1;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin: 0 7.5%;
  width: 85%;
}

.auteur {
  font-weight: 600;
  font-size: 24px;
  border-top: 1px #B38244 solid;
  padding-top: 2vh;
}

.auteur:first-of-type {
  border: none;
}

.comment {
  margin-bottom: 1vh;
}

.delete,
#submit-btn {
  text-transform: uppercase;
  font-weight: 600;
  background: #276A8D;
  border-radius: 4px;
  display: inline-block;
  width: 60px;
  height: 3vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 3vh;
}

.delete:hover,
#submit-btn:hover {
  transform: scale(1.1);
}

.delete:last-of-type {
  margin-bottom: 16vh;
}

#submit-btn {
  color: #EAE3E1;
  height: 6vh;
  width: 85%;
  margin: 5vh 0;
}/*<!-- <CORPS> -->*

h1 {
  font-style: italic;
  color: antiquewhite;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  text-decoration: none;
  color: #2ec4b6;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 100px;
  color: aquamarine;
  text-decoration: none;
  color: hsl(173, 68%, 83%);
  text-transform: uppercase;
  font-style: italic;

}

h3 {
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  color: antiquewhite;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  line-height: 100px;
  font-style: italic;
  display: flex;
  align-items: center;
  margin: 10px;
  margin-right: 40px;

}

h4 {
  position: absolute;
  width: 94px;
  height: 31px;
  left: 262px;
  top: 564px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFBFB;


}*

img.CHARTS {
  position: absolute;
  width: 155px;
  height: 218px;
  left: 221px;
  top: 432px;

  background: #121111;
}

h4 {
  position: absolute;
  width: 94px;
  height: 31px;
  left: 262px;
  top: 564px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFBFB;

}


img.ALBUMS {
  position: absolute;
  width: 155px;
  height: 218px;
  left: 434px;
  top: 432px;

  background: #0E0E0E;
}

h5 {
  position: absolute;
  width: 92px;
  height: 31px;
  left: 475px;
  top: 584px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFAFA;
}

img.MORE {
  position: absolute;
  width: 155px;
  height: 218px;
  left: 670px;
  top: 437px;

  background: #100F0F;
}

h6 {
  position: absolute;
  width: 91px;
  height: 33px;
  left: 714px;
  top: 584px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFF9F9;

}