body {
  background-color: transparent;
  font-family: Poppins,
    sans-serif;
  background-color: #2F3038;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 14px;
}

/*<!-- <HERADER> -->*/

header {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 7vh;
  margin: 0 auto;
  position: absolute;
  top: 5vh;
}

.logo {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-left: 40px;
}

.

/*<!-- <TITRE+bnav> -->*/
nav {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-right: 40px;
  padding: 50px;
  margin: 10px;
  width: 50%;
}

.header-title {
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  top: 20px;
}

.nav a {
  margin-left: 20px;
}


/* FIN HEADER */

/*<!-- <CORPS> -->*/

h1 {
  color: antiquewhite;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-style: italic;
  margin-left: 20px;
  text-decoration: greenyellow;
}

h2 {
  color: antiquewhite;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: greenyellow;
}



/* image de la femme noire
#Gril {
margin: 10px;
max-width: 500px;
height: 65vh;
position: absolute;
bottom: 0;
margin-left: 7.5%;
z-index: -1;



/*<!-- <FOOTER> -->*/

footer {
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;

  border: chartreuse 2px solid;
  border-radius: 20px;
}

.perso_info {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 40px;
  padding-left: 20px;
}

.perso_info a {
  display: flex;
  justify-content: left;
  font-weight: bold;
  margin-right: 40px;
  padding-left: 20px;
  font-size: 14px;
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
  font-style: italic;

}


.footer-title {
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
}


/*<!-- <Reseaux Social> -->*/

.RESEAU {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 14px;
  /* border: chartreuse 5px solid;
  border-radius: 20px;
  padding: 50px;*/

}

.RESEAU a {
  margin-left: 20px;
  /* font-size: 14px;
  -weight: bold;
  text-decoration: none;
  color: #2ec4b6;
  text-transform: uppercase;
  font-style: italic;*/

  padding: 20px;
  margin: 10px;
  width: 50%;
}

.a:hover {
  font-size: 14px;

  text-decoration: none;
  color: #2ec4b6;
  font-style: italic;
}

/*<!-- <Reseaux Social> -->*/

/*.Twitter {
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin: 10px;
  margin-right: 40px;

}*/



/*.Facebook {
  display: inline-block;
  align-items: center;
  margin: 10px;
  margin-left: 1250 px;
  font-size: 20px;
  line-height: 50px;
  top: -3vh;
  font-family: 'Poppins', sans-serif;
}


/* Circle */

Circle {
  z-index: -999;
  /* S'assurer que les bulles seront tjs en dessous des autres éléments */
  border-radius: 100%;
  position: absolute;
  opacity: 15%;
}

.blue {
  background-color: blue;

}

.pink {
  background-color: pink;
}

#C1 {
  position: absolute;
  top: 20%;
  left: 40%;
  background-color: pink;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}

#C2 {
  position: absolute;
  top: 0%;
  left: 30%;
  background-color: pink;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}

#C3 {
  position: absolute;
  top: 45%;
  left: 55%;
  background-color: papayawhip;
  width: 520px;
  height: 520px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}

#C4 {
  position: absolute;
  top: 23%;
  left: 25%;
  background-color: burlywood;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}

#C5 {
  position: absolute;
  top: 26%;
  left: 57%;
  background-color: greenyellow;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}




h3 {
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  color: antiquewhite;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  line-height: 100px;
  font-style: italic;
  display: flex;
  align-items: center;
  margin: 10px;
  margin-right: 40px;
}

.Btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Sublime-btn {
  background-color: chartreuse;


}