body {
  background-color: transparent;
  font-family: Poppins,
    sans-serif;
  background-color: #2F3038;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 14px;
}

/*<!-- <HERADER> -->*/
header {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 7vh;
  margin: 0 auto;
  position: absolute;
  top: 5vh;
}

.logo {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-left: 40px;
}

.nav {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-right: 40px;
}

.header-title {
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
}

.nav a {
  margin-left: 20px;
}

/* FIN HEADER */

/*<!-- <CORPS> -->*/

h1 {
  font-style: italic;
  color: antiquewhite;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  text-decoration: none;
  color: #2ec4b6;
  text-transform: uppercase;
  font-style: italic;
}


/*<!-- <FOOTER> -->*/



.Twitter {
  margin-right: 8px;
  margin-left: 10%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  margin: 10px;
  margin-right: 40px;
}

.Facebook {
  margin-right: 8px;
  margin-left: 10%;
  display: flex;
  align-items: center;
  margin: 10px;
  margin-right: 40px;
}



.Discover {
  margin-left: 50%;
  margin-top: 19vh;
  font-size: 20px;
  line-height: 50px;
  position: relative;
  top: -3vh;
  margin-left: 10%;
}


.Comments {
  margin-left: 50%;
  margin-top: 19vh;
  font-size: 20px;
  line-height: 50px;
  position: relative;
  top: -3vh;
}



/* Circle */
#C1 {
  position: absolute;
  top: 20%;
  left: 40%;
  background-color: pink;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}

#C2 {
  position: absolute;
  top: 0%;
  left: 30%;
  background-color: pink;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}

#C3 {
  position: absolute;
  top: 45%;
  left: 55%;
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}

#C4 {
  position: absolute;
  top: 23%;
  left: 25%;
  background-color: blue;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}

#C5 {
  position: absolute;
  top: 26%;
  left: 57%;
  background-color: red;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  z-index: -999;
  opacity: 15%;
}


//*h2 {

font: 1em sans-serif;
font-weight: 600;
font-size: 48px;
line-height: 108px;
color: aquamarine;
text-decoration: none;
color: #2ec4b6;
text-transform: uppercase;
font-style: italic;

}

//*h3 {
background-color: darkkhaki;
position: relative;
top: -3vh;
font-family: 'Lucida Sans',
'Lucida Sans Regular',
'Lucida Grande',
'Lucida Sans Unicode',
Geneva,
Verdana,
sans-serif;
color: antiquewhite;
}


/* Liens */
/*a {
text-decoration: none;
color: #2ec4b6;
text-transform: uppercase;
font-style: italic;
}

a:hover {
  font-size: 14px;
  -weight: bold;

}

button {
  background-color: chartreuse;

}


//*#Gril {
margin: 10px;
max-width: 500px;
height: 65vh;
position: absolute;
bottom: 0;
margin-left: 7.5%;
z-index: -1;




section.exercice {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 75%;
  text-align: center;
  margin: auto;
  * //span {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: block;
  font-size: 48px;
  height: auto;
  line-height: 3em;
  text-align: center;
  width: 3em;
}