/* ----------------------
/ Convention de nommage  html css :
/
/ utilisation de la syntaxe abem montrée par Jeremy dit James  :-)
/ utilisation d'une grille inspirée de Bootstrap et prévision du responsif
/ utilisation des Flexbox
/ reset : sur li et a
/
 --------------------- */

/* reset */
li {
  list-style-type: none;
}

li>a {
  text-decoration: none;
}

/* Balises générales */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* utilisation de 1 rem = 10px; */
}

body {
  background-color: rgb(47, 48, 56);
  color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

/* Balises sémantiques */

header {
  margin-bottom: 2rem;
  padding: 1rem;

}

h1 {
  font-size: 2.5rem;

}

p {
  font-size: inherit;

}

nav {
  text-transform: capitalize;
  padding-bottom: 1rem;

}

li>a {

  color: rgb(255, 255, 255);
}

footer {
  height: 10rem;
  background-color: rgb(32, 32, 39);
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 1rem 1rem 1rem 0;
  padding-top: 1rem;
}

/* Classes générales */

.wrap {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}

/* les cercles qui sortent du FLUX */
.circle {
  position: absolute;
  border-radius: 50%;
  z-index: -10;
  opacity: 25%;
}

.firstcircle {
  top: -1%;
  left: 40%;
  background-color: yellowgreen;
  /*rgb(44,56,73); */
  width: 4.5rem;
  height: 4.5rem;
}

.secondcircle {
  top: 12%;
  left: 60%;
  background-color: yellowgreen;
  /*rgb(44,56,73); */
  width: 13.5rem;
  height: 13.5rem;
}

.thirdcircle {
  top: 36%;
  left: 73%;
  background-color: rgb(24, 103, 167);
  /*rgb(44,56,73); */
  width: 23.5rem;
  height: 23.5rem;
}

/* Classes générales (suite) */
.o-header-logo {

  display: inline-flex;
  padding: 1rem 1rem 0 1rem;

}

.o-header-logo img {
  width: 20%;
  margin: 1rem;
  padding-top: 1rem;
}

.m-header-logo--title {
  margin-top: 2.8rem;
  margin-left: 1rem;
  font-size: 1.8rem;
}

.o-header-nav {
  margin-top: 1rem;

}

.o-header-nav ul {
  padding: 0;
  margin: 0;

}

.o-header-nav li {
  border-bottom: 1px solid rgb(192, 192, 192);
  padding-bottom: 0.5rem;
}

.o-header-nav a {
  padding: 0.25rem 1rem;
  display: block;
}

.o-header-nav .is-active a {
  color: rgb(188, 58, 128);

}

.o-header-nav a:hover {
  color: rgb(24, 103, 167);

}

/* Footer */
.o-footer-nav li {
  padding-bottom: 1rem;
}

.o-footer-social-media {
  margin: 2rem 2rem 1rem 1rem;
  padding-right: 1rem;

}

.m-footer-social-media--items {

  padding: 0 0 1rem 1rem;
  margin-left: 1rem;
  text-transform: capitalize;
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.m-footer-social-media--items i {
  color: rgb(255, 255, 255);
  margin-right: 0.6rem;
}


/* Classes liées à la page Home */
.m-home-main--img {
  width: 60%;
  margin-left: 1.2rem;
}

.m-home-main--content {
  margin-top: 2rem;
  padding-left: 2rem;
}

/* Classes liées à la page FORM */
.o-form-main--fun {}

.o-form-main--fun h1 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-left: 1rem;
  margin-top: 0;
}

.o-form-main--fun h1 span {
  font-size: 4rem;
  color: rgb(188, 58, 128);
}

.m-form-main--form {
  background-color: rgb(32, 32, 39);

  border-radius: 15%;
  margin: 1rem 1rem 1rem 1.5rem;
  padding: 2rem;


}

.m-form-main--form form>label,
input,
textarea {
  display: block;
  width: 100%;
}

.m-form-main--form label {
  padding: 0.5rem 0;
  margin-top: 1rem;
}

.m-form-main--form form>input,
textarea {
  border: 1px solid rgb(188, 58, 128);
  border-radius: 5%;
  background-color: rgb(32, 32, 39);
}

.m-form-main--form button {

  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10%;
  background-color: rgb(24, 103, 167);
  margin-bottom: 1rem;
}


/* --------------------
/* Vue tablette et desktop
/* ------------------------ */


@media screen and (min-width: 640px) {

  /* Classes générales */
  /* header */
  .o-header-logo img {
    width: 29%;
  }

  .o-header-nav {
    margin-top: 1.7rem;
  }

  .o-header-nav ul {
    display: flex;
    justify-content: flex-end;
  }

  .o-header-nav li {
    border: 0;
    /* pour ne pas qu'ils soient soulignés
   /* display: inline-block; */
    padding-left: 1rem;
    margin-top: 2rem;
  }

  /* footer */
  .o-footer-nav ul {
    display: flex;
  }

  .o-footer-nav li {
    padding-right: 2rem;
  }

  .o-footer-social-media {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;

  }

  /* Classes propres à la page Home */
  .m-home-main--img {
    width: 92%;
    margin-left: 6rem;
  }

  .a-home-main--content--title {
    font-size: 4rem;
  }

  .a-home-main--content--txt {
    font-size: 2rem;
  }
}

@media screen and (min-width: 960px) {
  .m-home-main--img {
    width: 72%;
  }
}

/* Grid system from Ludovic Evrard inspired by boostrap  */

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 640px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}